<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ColorTV Chromecast Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>175E6EB51D89AFE900966D6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>175E6ECE1D89AFEA00966D6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>175E6ED91D89AFEA00966D6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
